@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600;700&family=Philosopher:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.navbar {
  font-family: "Philosopher", sans-serif;
}

.fixed-top {
  background-color: white;
}

.navbar-brand {
  font-weight: bold;
  font-size: 3.5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.i {
  color: #0062c5;
  -webkit-text-stroke-color: #0062c5;
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem;
}

.content {
  position: relative;
  overflow-x: hidden;
}

.heading,
.sub-heading,
.para,
.product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading,
.home .para,
.about .sub-heading,
.work .sub-heading,
.service .sub-heading,
.product {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}

.india {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 60px;
}

.about .sub-heading,
.work .sub-heading,
.service .sub-heading,
.contact .sub-heading {
  font-size: 2.25rem;
}

.about .para,
.work .para,
.service .para {
  font-family: "Lato", sans-serif;
  opacity: 0.6;
  font-size: 1rem;
  text-align: center;
}

.heading {
  font-size: 3rem;
  margin-top: 175px;
}

.home .para {
  font-size: 1.5rem;
  opacity: 0.6;
}

.about .sub-heading {
  margin-bottom: 24px;
}

.about .para {
}

.work {
  margin-top: 100px;
}

.work .sub-heading {
}

.work .para {
}

.work-gallery {
  margin-top: 36px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "box-1 box-2 box-3"
    "box-1 box-4 box-5"
    "box-6 box-7 box-5"
    "box-8 box-9 box-10"
    "box-11 box-12 box-13"
    "box-14 box-12 box-15";
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.images > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.box-1 {
  grid-area: box-1;
}
.box-2 {
  grid-area: box-2;
}
.box-3 {
  grid-area: box-3;
}
.box-4 {
  grid-area: box-4;
}
.box-5 {
  grid-area: box-5;
}
.box-6 {
  grid-area: box-6;
}
.box-7 {
  grid-area: box-7;
}
.box-8 {
  grid-area: box-8;
}
.box-9 {
  grid-area: box-9;
}
.box-10 {
  grid-area: box-10;
}
.box-11 {
  grid-area: box-11;
}
.box-12 {
  grid-area: box-12;
}
.box-13 {
  grid-area: box-13;
}
.box-14 {
  grid-area: box-14;
}
.box-15 {
  grid-area: box-15;
}

.service {
  margin-bottom: 5rem;
}

.service .sub-heading {
}

.service .para {
}

.box {
  height: 165px;
  padding: 10px;
}

.product {
  border: 2px solid black;
  height: 100%;
  font-size: 2rem;
  padding: 20px;
}

.bg-contact {
  z-index: -1;
  position: absolute;
}

.contact {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 125px;
  transform: translateY(36px);
}

.contact .sub-heading {
  margin-bottom: 88px;
}

.info {
  font-weight: bold;
}

.form-heading {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: -3px;
  line-height: 66px;
}

.form-heading > span {
  color: #0062c5;
}

.form-subheading {
  letter-spacing: -0.5px;
  margin-bottom: 44px;
}

/* .form-input {
  position: relative;
}

.form-control {
  margin-bottom: 22px;
  background-color: #f5f5f5;
  border: none;
  height: 44px;
  font-size: 15px;
  display: block;
}

.form-control:focus {
  background-color: #f5f5f5;
  border: none;
  outline: none;
  box-shadow: none;
}

label {
  display: inline-block;
  padding-left: 10px;
}

.form-control + label {
  font-size: 14px;
  position: absolute;
  top: 14px;
  left: 20px;
  transition: 0.3s linear;
} */
/* sfdsdfsdfsfsfs */
/* .form-control:focus {
  outline: none;
  box-shadow: none;
  background: rgb(219, 236, 255);
  border-color: rgb(219, 236, 255);
}
.form-control + label {
  font-size: 14px;
  color: #606060;
  position: absolute;
  top: 14px;
  left: 20px;
  transition: 0.3s linear;
} */
/* .form-control + label span {
  color: #bbb;
}
.form-control + label.down,
.form-control:focus + label {
  top: -9px;
  font-size: 12px;
  margin: 0;
}
.error {
  border: 1px solid red;
  position: relative;
} */
/* ------------------------------------------------- */
.form-input {
  margin-bottom: 18px;
  position: relative;
}
.form-control {
  height: 48px;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 0 20px;
  font-weight: 500;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  background: rgb(219, 236, 255);
  border-color: rgb(219, 236, 255);
}
.form-control + label {
  font-size: 14px;
  color: #606060;
  position: absolute;
  top: 14px;
  left: 20px;
  transition: 0.3s linear;
}
.form-control + label span {
  color: #bbb;
}
.form-control + label.down,
.form-control:focus + label {
  top: -9px;
  font-size: 12px;
  margin: 0;
}
.error {
  border: 1px solid red;
  position: relative;
}
/* ------------------------------------------------- */

.submit {
  padding: 15px 40px;
  background: #f5f5f5;
  border: 0;
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
}

.submit::after,
.submit::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.submit::after {
  width: 30px;
  height: 1px;
  background: black;
  transform: translateX(-3px);
  margin-top: 0px;
}

.submit::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -1px;
}

.submit:hover {
  padding: 15px 60px 15px 20px;
}

.submit:hover::after,
.submit:hover::before {
  opacity: 1;
  right: 15px;
}

footer {
  height: 3.5rem;
  background-color: #0062c5;
}

@media (min-width: 576px) and (max-width: 992px) {
  .work-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "box-1 box-2"
      "box-1 box-10"
      "box-7 box-5"
      "box-9 box-5"
      "box-12 box-13"
      "box-12 box-15";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .box-3,
  .box-4,
  .box-6,
  .box-8,
  .box-11,
  .box-14 {
    display: none;
  }

  .bg-contact {
    width: 100px;
    height: 50px;
  }
}

@media (max-width: 575px) {
  .work-gallery {
    display: block;
  }
  .box-5,
  .box-6,
  .box-7,
  .box-9,
  .box-10,
  .box-11,
  .box-14 {
    display: none;
  }
  .images {
    margin: 8px;
    padding: 8px;
  }
}
